.DS_Store
__pycache__
.ipynb_checkpoints
.vscode
debug.py
debug.ipynb
debug.sh
.idea/*
transformers
wandb/
log/
*.log
outputs/
data/
jobs/
debug/
audio/

examples/s2s/scripts/debug
examples/vsr_LRS3/scripts/decode_avhubert_vo_vicuna_7b_noself.sh
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_copy.sh
examples/vsr_LRS3/scripts/decode_avhubert_vo_vicuna_7b_copy.sh
scripts_all
examples/hotwords_librispeech
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_debug.sh
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/.hydra/config.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/.hydra/hydra.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/.hydra/overrides.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_1000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_10000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_11000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_12000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_13000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_14000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_15000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_16000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_17000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_18000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_19000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_2000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_20000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_22000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_23000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_24000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_25000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_26000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_27000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_28000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_3000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_31000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_33000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_34000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_35000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_36000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_37000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_4000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_42000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_43000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_45000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_46000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_48000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_5000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_50000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_58000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_59000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_6000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_60000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_61000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_65000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_66000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_67000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_7000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_8000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_9000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_10423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_12423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_1423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_14423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_15423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_23423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_3423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_34423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_40423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_4423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_46423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_5423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/decode_test_clean_beam4_gt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/decode_test_clean_beam4_pred
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/.hydra/config.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/.hydra/hydra.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/.hydra/overrides.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_7423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_9423/model.pt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/asr_epoch_2_step_34423.pt
.gitignore
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/ckpt.ipynb
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/log.txt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/.hydra/overrides.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/decode_test_clean_beam4_wer
