.DS_Store
__pycache__
.ipynb_checkpoints
.vscode
debug.py
debug.ipynb
debug.sh
.idea/*
transformers
wandb/
log/
*.log
outputs/
data/
jobs/
debug/
audio/

examples/s2s/scripts/debug
examples/vsr_LRS3/scripts/decode_avhubert_vo_vicuna_7b_noself.sh
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_copy.sh
examples/vsr_LRS3/scripts/decode_avhubert_vo_vicuna_7b_copy.sh
scripts_all
examples/hotwords_librispeech
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_debug.sh
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/.hydra/config.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/.hydra/hydra.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/.hydra/overrides.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_1000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_10000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_11000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_12000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_13000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_14000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_15000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_16000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_17000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_18000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_19000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_2000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_20000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_22000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_23000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_24000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_25000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_26000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_27000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_28000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_3000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_31000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_33000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_34000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_35000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_36000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_37000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_4000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_42000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_43000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_45000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_46000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_48000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_5000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_50000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_58000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_59000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_6000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_60000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_61000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_65000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_66000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_67000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_7000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_8000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_1_step_9000/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_10423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_12423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_1423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_14423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_15423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_23423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_3423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_34423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_40423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_4423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_46423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_5423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/decode_test_clean_beam4_gt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/decode_test_clean_beam4_pred
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/.hydra/config.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/.hydra/hydra.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/.hydra/overrides.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_7423/model.pt
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_9423/model.pt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/asr_epoch_2_step_34423.pt
.gitignore
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/ckpt.ipynb
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/log.txt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/.hydra/overrides.yaml
examples/asr_librispeech/exp/vicuna-7b-v1.5-librispeech-linear-steplrwarmupkeep1e-4-whisper-medium-20250315/asr_epoch_2_step_67423/decode_test_clean_beam4_wer
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250411/asr_epoch_4_step_7261.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250411/log.txt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250411/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250411/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250411/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_7_step_5044.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_7_step_9044.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_8_step_3218.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_8_step_11218.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_9_step_1392.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_9_step_5392.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_9_step_9392.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_10_step_3566.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_10_step_7566.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/asr_epoch_10_step_11566.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/log.txt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-asru2019-20250412/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_8000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_12000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_16000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_20000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_24000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_28000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_32000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_36000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_40000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_44000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/log.txt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/log.txt
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/asr_epoch_2_step_36348.pt
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/1/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/1best_recog/mer
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/2/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/3/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/4/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/keys.1.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/keys.2.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/keys.3.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/keys.4.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/log.1.txts
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/log.2.txts
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/log.3.txts
examples/asr_librispeech/exp/whisper-medium-linear-qwen-v2_5-7B-asru2019-20250410/model/inference-asr_epoch_2_step_36348.pt/test/logdir/log.4.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/asr_epoch_2_step_46423.pt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/1/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/2/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/3/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/4/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/keys.1.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/keys.2.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/keys.3.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/keys.4.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/log.1.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/log.2.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/log.3.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_clean/logdir/log.4.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/1/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/2/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/3/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/4/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/keys.1.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/keys.2.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/keys.3.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/keys.4.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/log.1.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/log.2.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/log.3.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna-7b-v1_5-ls960-20250319/model/inference-asr_epoch_2_step_46423.pt/test_other/logdir/log.4.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/log.txt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/asr_epoch_2_step_24348.pt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/1/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/2/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/3/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/4/1best_recog/text
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/keys.1.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/keys.2.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/keys.3.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/keys.4.jsonl
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/log.1.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/log.2.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/log.3.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-asru2019-20250408/model/inference-asr_epoch_2_step_24348.pt/test/logdir/log.4.txts
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-mixcs-20250404/asr_epoch_1_step_108000.pt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-mixcs-20250404/log.txt
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-mixcs-20250404/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-mixcs-20250404/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-linear-vicuna7b-v1_5-mixcs-20250404/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/load_model.ipynb
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/log.txt
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/model/asr_epoch_4_step_15269.pt
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/model/decode_test_clean_beam4_gt
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/model/decode_test_clean_beam4_pred
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/model/.hydra/config.yaml
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/model/.hydra/hydra.yaml
examples/asr_librispeech/exp/whisper-medium-qformer-vicuna-7b-v1_5-ls960-20250320/model/.hydra/overrides.yaml
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_48000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_52000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_56000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_60000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_64000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_68000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_72000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_76000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_60000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_64000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_68000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_72000.pt
examples/asr_librispeech/exp/whisper-large-linear-qwen-v2_5-3B-mixcs-20250413/asr_epoch_1_step_76000.pt
